<ion-view title="JolimBox Song">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="object-center indexText" id="indexTitle">JolimBox Song </div>
    <div class="object-center" id="logo"><img id="imgLogo" src="img/logo.svg"/></div>
    <div class="object-center indexText" id="indexLead">O melhor da música para você</div>
    <div class="object-center indexText" id="indexRhythms"></div>
  </ion-content>
  <div class="bar bar-footer bar-energized">
    <a class="title" href="#/menu/playlist" style="text-decoration: none">Toque para acessar a Playlist!</a>
  </div>
</ion-view>
