<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar bar-energized">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-energized">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <a class="item item-icon-left" nav-clear menu-close href="#/menu/index">
                    <i class="icon ion-home"></i>
                    Início
                </a>
                <a class="item item-icon-left" nav-clear menu-close href="#/menu/playlist">
                    <i class="icon ion-music-note"></i>
                    Playlist
                </a>
                <a class="item item-icon-left" nav-clear menu-close href="#/menu/preferences">
                    <i class="icon ion-gear-b"></i>
                    Preferências
                </a>
                <a class="item item-icon-left" nav-clear menu-close href="#/menu/about">
                    <i class="icon ion-information-circled"></i>
                    Sobre
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
