<ion-view title="JolimBox Song">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list" ng-repeat="track in trackList">
      <a id="{{track.id}}" class="item item-thumbnail-left" href="#">
        <img src="{{track.srcAlbum}}" />
        <h2>{{track.title}}</h2>
        <p>{{track.artist}}</p>
      </a>
    </div>
    <div class="tabs tabs-icon-only">
      <a class="tab-item" ng-click="backwardSong()">
        <i class="icon ion-skip-backward"></i>
      </a>
      <a class="tab-item" ng-click="pauseSong()">
        <i class="icon ion-pause"></i>
      </a>
      <a class="tab-item" ng-click="playSong()">
        <i class="icon ion-play"></i>
      </a>
      <a class="tab-item" ng-click="stopSong()">
        <i class="icon ion-stop"></i>
      </a>
      <a class="tab-item" ng-click="forwardSong()">
        <i class="icon ion-skip-forward"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
