<ion-view title="JolimBox Song">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/jolim.png">
        <h2>TESTE TESTE</h2>
        <p>teste teste</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/jolim.png">
        <h2>TESTE TESTE</h2>
        <p>teste teste</p>
      </a>
    </div>
  </ion-content>
</ion-view>
