.object-center{
  position: absolute;
}


.indexText{
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-stretch: ultra-expanded;
}

#indexTitle{
  font-size: 20pt;
}

#indexLead{
  font-size: 16pt;
}

#indexRhytms{
  font-size: 14pt;
}

.playing{
  background-color: #ffff00;
}
